<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <classFiles>target/classes</classFiles>
    <classPath/>
    <javaHome></javaHome>
    <projectDir>.</projectDir>
    <sourcePath>src/main/java/</sourcePath>
    <testCommand>mvn test</testCommand>
    <testDir>src/test/java</testDir>
    <testRunner>org.junit.runner.JUnitCore</testRunner>
</configuration>